.navbar {
    background-color: #4CAF50;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float: left; /* Añade esta línea para alinear el span a la izquierda */
    margin-left: 1em;
}

.navbar .button-container {
    display: flex;
    align-items: center;
}

.navbar button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 1em;
}

